<!DOCTYPE html>
<html  lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../styles/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="../styles/msg.css" rel="stylesheet">
<link href="../styles/pagination.css" rel="stylesheet">
<title>配置对象</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#myNavbar">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">消息发送系统</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav navbar-right">
             <li class="active"><a href="#">配置对象</a></li>
              <li><a href="/msg/admin/setgroup">分配群组</a></li>
              <li><a href="/msg/admin/setinterface">配置接口</a></li>
              <li><a href="msg">查看消息</a></li>
              <li><a href="adduser">新增用户</a></li>
              <li><a href="#"  id="logout" >退出</a></li>
         </ul>
    </div>
    </div>
</nav>


<div class="jumbotron vertical-center">
<div class="container">
	<div class="raw">
		<div class="col-md-11 col-centered">
			
		<div class="raw">
		<div class="col-md-3 col-md-offset-6 text-right">
			<button id="addobject" class="btn btn-primary" data-toggle="modal" data-target="#addModal"  role="dialog" >新增</button>	
			<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" >删除</button>
         </div>
			<div class="col-md-3 pull-right">
				<div class="input-group" style="width: 100%">
					  <input type="text" id="searchword" class="form-control"  placeholder="不限"> 
						   <span class="input-group-btn">						
								 <button id="searchobject" class="btn btn-success">查询</button> 
							</span>
						</div>
					</div>
			</div>
		   <br>
		   <br>
		   <br>
		  <div class="panel panel-default  shadow">
				<table class="table  table-hover text-center" >
					<thead>
						<tr id="head">
							<th class="text-center "><input type="checkbox" id="selectall"></th>
							<th class="text-center">对象名称</th>
							<th class="text-center">所属部门</th>
							<th class="text-center">微信帐号</th>
							<th class="text-center">邮箱帐号</th>
							<th class="text-center">手机号码</th>
							<th class="text-center">操作</th>
						</tr>
					</thead>
					<tbody id="objecttable">	
					</tbody>
				</table>
		</div>
		<div class="pull-right" id="pagination-container"></div>
		</div>
	</div>
</div>
</div>
			
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content ">
			<div class="modal-header">
				<h4 class="modal-title">新增对象</h4>
			</div>
			<form class="form-horizontal" role="form" novalidate>
				<div class="modal-body">
				
					<div class="form-group">
						<label class=" col-md-4 control-label"> <span class="red">*&nbsp;</span>对象名称： </label>
						<div class="col-md-6">
						   <input type="text" id="addoname" class="form-control" onblur="checkName(this.value)" required>
						   <p class="help-block red" id="name-tip"></p>
						</div>
					</div>
					<div class="form-group">
						<label class=" col-md-4 control-label"> <span class="red">*&nbsp;</span>所属部门： </label>
						<div class="col-md-6">
						   <input type="text" id="addbrand" class="form-control" onblur="checkBranch(this.value)" required>
						   <p class="help-block red" id="branch-tip"></p>
						</div>
					</div>
					<div class="form-group">
						<label class=" col-md-4 control-label"> <span class="red">*&nbsp;</span>微信帐号： </label>
						<div class="col-md-6">
						   <input type="text" id="addwechat" class="form-control" onblur="checkWchat(this.value)" required>
						   <p class="help-block red" id="wchat-tip"></p>
						</div>
					</div>
					<div class="form-group">
						<label class=" col-md-4 control-label"> <span class="red">*&nbsp;</span>邮箱帐号： </label>
						<div class="col-md-6">
						   <input type="text" id="addemail" class="form-control" onblur="checkEmail(this.value)" required>
						   <p class="help-block red" id="email-tip"></p>
						</div>
					</div>
					<div class="form-group">
						<label class=" col-md-4 control-label"> <span class="red">*&nbsp;</span>手机号码： </label>
						<div class="col-md-6">
						   <input type="text" id="addmessage" class="form-control" onblur="checkPhone(this.value)" required>
						   <p class="help-block red"  id="phone-tip"></p>
						</div>
					</div>
               </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button id="addconfirm" class="btn btn-primary" data-dismiss="modal" disabled>保存</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content ">
			<div class="modal-header">
				<h4 class="modal-title" >编辑对象</h4>
			</div>
			<form class="form-horizontal" role="form" novalidate>
				<div class="modal-body">
				
					<div class="form-group">
						<label class=" col-md-4 control-label"> <span class="red">*&nbsp;</span>对象名称： </label>
						<div class="col-md-6">
						   <input type="text" id="modoname" class="form-control" onblur="checkName(this.value)" required>
						   <p class="help-block red" id="name-tip2"></p>
						</div>
					</div>
					<div class="form-group">
						<label class=" col-md-4 control-label"> <span class="red">*&nbsp;</span>所属部门： </label>
						<div class="col-md-6">
						   <input type="text" id="modbrand" class="form-control" onblur="checkBranch(this.value)" required>
						   <p class="help-block red" id="branch-tip2"></p>
						</div>
					</div>
					<div class="form-group">
						<label class=" col-md-4 control-label"> <span class="red">*&nbsp;</span>微信帐号： </label>
						<div class="col-md-6">
						   <input type="text" id="modwechat" class="form-control" onblur="checkWchat(this.value)" required>
						   <p class="help-block red" id="wchat-tip2"></p>
						</div>
					</div>
					<div class="form-group">
						<label class=" col-md-4 control-label"> <span class="red">*&nbsp;</span>邮箱帐号： </label>
						<div class="col-md-6">
						   <input type="text" id="modemail" class="form-control" onblur="checkEmail(this.value)" required>
						   <p class="help-block red" id="email-tip2"></p>
						</div>
					</div>
					<div class="form-group">
						<label class=" col-md-4 control-label"> <span class="red">*&nbsp;</span>手机号码： </label>
						<div class="col-md-6">
						   <input type="text" id="modmessage" class="form-control" onblur="checkPhone(this.value)" required>
						   <p class="help-block red"  id="phone-tip2"></p>
						</div>
					</div>
               </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button id="modconfirm" class="btn btn-primary" data-dismiss="modal" disabled>保存</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content ">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
               删除对象
            </h4>
         </div>
         <div class="modal-body">
               当前操作将删除对应的对象，请确认？
         </div>
         <div class="modal-footer">
            
            <button type="button" class="btn btn-default" data-dismiss="modal">
                取消
            </button>
            <button id="deleteobject"   type="button" class="btn btn-primary" data-dismiss="modal" >
                确定
            </button>
          </div>
      </div>
</div>
</div>

<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>
<script src="../scripts/object.js"></script>
<script src="../scripts/pagination.js"></script>
</body>
</html>