.home-row {
  margin-left: 2%;
  margin-right: 2%;
}

.home-row-content {
  background: #fff;
}

p {
  text-indent: 2em;

}


.red{
    color: #a94442;
}

.danger{
     background-color: #d9534f;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.grey {
	/* background-color: #f2eeff; */
	/* background-color: #eaedf0;  */
	background-color: #fcfcfc; 
	/* background-color: #888; */
}


.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
background-color: rgba(102, 175, 233, .3);
}

.ul-hover  > li:hover 
 {
background-color: rgba(102, 175, 233, .3)
}

.shadow {
	  box-shadow: 3px 3px 3px 2px #d7e4ed;
}


.five{
	width: 5%;
}

.hundred {
	width: 100%;
}

.brickwall {
	 background-image: url('/./images/brickwall.png');
	 background-repeat: repeat; 
}

.radius {
	border-radius: 15px;
}

.mrg1 {
	margin-top: 20px;
}

.bg1 {
	background-color: #fbfbfb;
}


h5 a {
	padding:4px;
}

h5 a:hover {
	text-decoration: none;
	background-color: rgba(102, 175, 233, .3);
}

.btn {
	margin: 0 3px;
}

p.help-block {
  margin-top: none;
  margin-bottom: -5px;;
  font-size: 12px;;
}

.has-success .control-label,
.has-error .control-label {
	color: inherit;
}

 .navbar {
    margin-bottom: 0;
    background-color: #2e6da4;
    z-index: 999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2e6da4 !important;
    background-color: #fff !important;
    border-top: 1px solid  #2e6da4;
    border-right: 1px solid  #2e6da4;
    border-bottom: 1px solid  #2e6da4;
    
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

 .vertical-center {
  min-height: 100%;     /*  Fallback for browsers do NOT support vh unit */
  min-height: 100vh;    /* These two lines are counted as one :-) */

  display: flex;
  align-items: center;
}

.jumbotron {
  padding: 100px 25px; 
  margin-bottom: 0px ;
  background-color: #fff;
} 
